<!DOCTYPE html>
<html>
  <head>
    <title>Borrar artículo</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Borrar artículo</h1>
      <p>Estás seguro que quieres borrar "{{ item.s_name }}"?</p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Borrar</button>
        <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
      </form>
    </div>
  </body>
</html>
